.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  max-width: 218px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}